<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link asp-href-include="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" asp-href-include="css/etalage.css" type="text/css" media="all" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link asp-href-include='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script asp-src-include="js/jquery.min.js"></script>
    <script asp-src-include="js/jquery.etalage.min.js"></script>
</head>
<body>
    @await Component.InvokeAsync("Header")
    <div class="row panel">
        <div id="genres">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div>
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Footer")
    </div>
</body>
</html>
